
/*

Name : Alagiya, Ravi
Assignment : Project 3
Due Date : Nov 20,2016


*/


.table {
    table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.img-responsive {
    margin: 0 auto;
}
.myblock
{


    display: block;
    
    line-height: 1.42857143;
    
    
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.button {
    color: green;
}

.myPara{

  height: 20px;
  overflow:hidden;

}
.name{

      margin-top: 5PX;
    margin-right: 15PX;
    float: left;
    color: white;
    display: inline;
}

.name a
{

  color: #9d9d9d;
}

.myColor
{
color:#4d9fde;
}

.btn-default
{
background-image: none;

}

.mybtn
{
  color:#00a9ff;
}

.errorText
{

      color: red;
      font-size: 65px;
      text-align: center;
      padding: 65px;

}